{% load static %}
{% load i18n %}
{% load account %}

{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <div class="main-banner">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
              <div class="header-text text-center">
                <h6>Welcome To CineWorld</h6>
                <h4><em>Sign In</em> to Your Account</h4>
                <p class="text-light">
                  이메일 계정으로 로그인할 수 있습니다.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-lg-5 col-md-7 d-flex justify-content-center">

            {% if user.is_authenticated %}
              <div class="form-container">
                <div class="title">이미 로그인됨</div>
                <div class="form" style="margin-top:1rem;">
                  <p class="mb-3">
                    <strong>{{ user.username }}</strong> 님, 이미 로그인되어 있습니다.
                  </p>
                  <a href="{% url 'index' %}" class="sign mb-2" style="display:block; text-decoration:none;">
                    홈으로 가기
                  </a>
                  <a href="{% url 'account_logout' %}" class="sign" style="display:block; text-decoration:none; background-color:#374151; color:#f9fafb;">
                    로그아웃
                  </a>
                </div>
              </div>

            {% else %}
              <div class="form-container">
                <div class="title">로그인</div>

                <form method="post" action="{% url 'account_login' %}" class="form">
                  {% csrf_token %}
                  {{ form.non_field_errors }}

                  <div class="input-group">
                    <label>{{ form.login.label|default:"Email or Username" }}</label>
                    {{ form.login }}
                    {{ form.login.errors }}
                  </div>

                  <div class="input-group">
                    <label>{{ form.password.label|default:"Password" }}</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                  </div>

                  <div class="forgot">
                    <a href="{% url 'account_reset_password' %}">비밀번호를 잊으셨나요?</a>
                  </div>

                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                  {% endif %}

                  <button type="submit" class="sign">
                    이메일로 로그인
                  </button>
                </form>

                <div class="signup">
                  <span>아직 CineWorld 계정이 없나요?</span><br>
                  <a href="{% url 'account_signup' %}">이메일로 회원가입</a>
                </div>

              </div>
            {% endif %}

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/tabs.js' %}"></script>
<script src="{% static 'assets/js/popup.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>